{% extends "base.html" %}
{% block about %}
  <div class="container" id="about">
    <div class="card text-center">
      <div class="card-header">
        About this website
      </div>
      <div class="card-body">
        <h5 class="card-title">Format My SQL</h5>
        <p class="card-text">This application is a online free SQL formatting tool. Modules used in this application is sqlparser. Please use folowing button to visit its github page</p>
        <a href="https://github.com/andialbrecht/sqlparse" class="btn btn-secondary">Sqlparser</a>
      </div>
      <div class="card-footer text-muted">
        <h5 class="card-title">Contact</h5>
        <p>Mail: vishva11oct@gmail.com</p>
      </div>
    </div>
  </div>
{% endblock about %}